@import '~@angular/material/theming';

@include mat-core();

$cb-primary: mat-palette($mat-grey, 800);
$cb-accent: mat-palette($mat-light-green, 800);
$cb-warn: mat-palette($mat-red, 800);

$cb-theme: mat-light-theme((
        color: (
                primary: $cb-primary,
                accent: $cb-accent,
                warn: $cb-warn,
        )
));

@include angular-material-theme($cb-theme);
